.taskbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
  }
  
  .taskbar li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .taskbar li > a:visited{
    color: white;
    text-decoration: none;
  }
  
  .taskbar li>a {
    display: block;
    text-decoration: none;
    height: 100%;
    padding: 18px 20px;
  }
  
  .taskbar li:hover {
    background-color: #111;
  }
  
  .taskbar li:active {
    background-color: #000;
  }
  
  #center-child {
    float: none;
    display: inline-block;
    margin-left: 23%;
  }
  
  #last-child {
    padding: 0;
    padding-top: 10px;
    float: right;
    margin-right: 10px;
  }
  
  #last-child:hover {
    background-color: #222;
  }
  
  .taskbar input {
    border-radius: 7px;
    height: 30px;
    width: 400px;
  }
  
  .search-results {
    float: right;
    position: absolute;
    background: #444;
    width: 400px;
    margin-left: 3px;
    z-index: 999;
  }
  
  .search-results img {
    height: 90px;
    float: left;
  }
  
  .search-result {
    height: 90px;
    padding: 5px;
    border: 1px #cccccc;
    border-style: solid none;
  }
  
  .search-result:hover {
    background-color: #222;
  }