@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #000;
  color: white;
  font-family: "Roboto";
  margin: 0px;
}

.App h1 {
  padding-left: 10px;
}

/*CSS For Taskbar ********************************************************************************************************************************/

.taskbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

.taskbar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.taskbar li > a:visited{
  color: white;
  text-decoration: none;
}

.taskbar li>a {
  display: block;
  text-decoration: none;
  height: 100%;
  padding: 18px 20px;
}

.taskbar li:hover {
  background-color: #111;
}

.taskbar li:active {
  background-color: #000;
}

#center-child {
  float: none;
  display: inline-block;
  margin-left: 23%;
}

#last-child {
  padding: 0;
  padding-top: 10px;
  float: right;
  margin-right: 10px;
}

#last-child:hover {
  background-color: #222;
}

.taskbar input {
  border-radius: 7px;
  height: 30px;
  width: 400px;
}

.search-results {
  float: right;
  position: absolute;
  background: #444;
  width: 400px;
  margin-left: 3px;
  z-index: 999;
}

.search-results img {
  height: 90px;
  float: left;
}

.search-result {
  height: 90px;
  padding: 5px;
  border: 1px #cccccc;
  border-style: solid none;
}

.search-result:hover {
  background-color: #222;
}

/* Taskbar CSS end ********************************************************************************************************************************/

/* CSS for horizontal list of movies ********************************************************************************************************************************/

.movie-list {
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 1px solid #222;
  border-radius: 10px;
}

.movie {
  margin: 10px;
  padding: 15px 15px;
  width: 185px;
  height: 380px;
  vertical-align: top;
  background-color: #1A1A1A;
  border: 1px solid #222;
  border-radius: 10px;
}

.movie img {
  width: 185px;
  height: auto;
}

.movie figcaption {
  display: block;
  white-space: initial;
  text-align: center;
  margin-top: 10px;
  height: 50px;
}

/** CSS For movie-list buttons ********************************************************************************************************************************/
.movie button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    /* Dark background color */
    color: #4899EF;
    /* Text color */
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}

.displayed {
  position: absolute;
  margin-right: 5px;
  background: rgba(20, 20, 20, 0.1);
  color: white;
  height: 50px;
}

.not-displayed {
  display: none;
}

.scroll-right-button {
  right: 0;
}

.scroll-left-button {
  left: 0;
}

.scroll-right:hover {
  background: rgba(20, 20, 20, 0.8)
}

/* Hover effect */
.movie button:hover {
  background-color: #555;
  /* Darker background color on hover */
}

/* Active effect */
.movie button:active {
  background-color: #222;
  /* Even darker background color when button is pressed */
}
/** Movie-list button css ends ********************************************************************************************************************************/

/** Movie-detailed view css ********************************************************************************************************************************/
.movie-details {
  display: flex;
}

.movie-details span {
  margin: 10px;
}

/* End of movie-list component CSS ********************************************************************************************************************************/